<a href="/manage/Singer/{{singer._id}}">Sửa ca sĩ</a>
<a href="/manage/SingerImage/{{singer._id}}">Sửa ảnh ca sĩ</a>
<h1>Sửa Ảnh ca sĩ</h1>
<h4 style="color:green">{{message}}</h4>
<div class="mt-4 col-lg-6">
    <form method="post" action="updateSingerImage?_method=PUT" enctype="multipart/form-data" > 
        <input type="hidden" name="idSinger" value="{{singer._id}}">
        <div class="form-group">
            <label for="image">chọn hình cho ca sĩ</label>
            <input type="file" class="form-control-file" id="image" name="image" accept=".png, .jpg" required>
        </div>
        <h3>Hình hiện tại</h3>
        <img src="{{singer.image}}" alt="{{singerImageAlt}}" width="300" height="400">

        <br />
        <button type="submit" class="btn btn-primary">sửa hình ca sĩ</button>
        <a href="/manage/Singer" class="btn btn-primary">Trở lại</a>
    </form>
</div>